<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tarot_fal">

    <!-- İzinler -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Firebase ve network için -->
    <uses-permission android:name="com.android.vending.BILLING" /> <!-- In-app purchase için -->

    <application
        android:label="tarot_fal"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:enableOnBackInvokedCallback="true"
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Başlangıç teması -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter eklenti kayıtları -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Google Play Billing için meta-data  -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

    <!-- Paket görünürlüğü sorguları -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <package android:name="com.android.vending" /> <!-- Play Store ile iletişim -->
    </queries>

</manifest>